@import "@/style/colors";
@import "@/style/container";
@import "@/style/viewports";

.footer {
  margin-top: auto;
  width: 100%;
  padding-bottom: 24px;

  &__all {
    border: inset solid $ClassicWhite;
    border-radius: 44px;
    box-shadow: inset 0 0 0 2px $ClassicWhite;
    display: flex;
    flex-direction: column;

    @include for-size(laptop) {
      border-radius: 66px;
    }
  }

  &__logo {
    color: $ClassicBlack;
    font-size: 76px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__container {
    padding: 0 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 44px;

    @include for-size(laptop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__line {
    border-color: $ClassicGray;

    &:first-of-type {
      margin-bottom: 24px;
    }
    &:last-of-type {
      margin-top: 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__box {
    display: grid;
    justify-items: center;
    gap: 14px;
    padding: 32px 16px;

    @include for-size(laptop) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 40px 62px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  @include for-size(laptop) {
    align-items: start;
    gap: 80px;
  }

  &__text {
    font-size: 20px;
    color: $ClassicGray;
    max-width: 300px;
    text-align: center;

    @include for-size(laptop) {
      text-align: left;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  @include for-size(laptop) {
    align-items: start;
    gap: 22px;
  }
}

.social {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;

    @include for-size(laptop) {
      gap: 22px;
    }
  }

  &__background {
    background-color: $ClassicWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $ClassicGray;
    height: 34px;
    width: 34px;

    @include for-size(laptop) {
      height: 48px;
      width: 48px;
    }

    &:hover .social__icon {
      transform: scale(1.2);
    }
  }

  &__icon {
    height: 18px;
    width: 18px;
    border-radius: 0;
    transition: transform 0.3s ease;

    @include for-size(laptop) {
      height: 24px;
      width: 24px;
    }
  }
}

.text {
  color: $ClassicBlack;
  text-transform: capitalize;
  position: relative;
  font-family: "Roboto";

  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: $ClassicGray;
    transition: width 0.3s ease, left 0.3s ease;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }

  &:hover {
    color: $ClassicGray;
    transition: color 0.3s ease;
  }
}
