@import "@/style/colors";
@import "@/style/container";
@import "@/style/viewports";

.main {
  &__button {
    background: $ClassicBlack;
    text-transform: capitalize;
    border-radius: 50px;
    padding: 10px 28px;

    @include for-size(desktop) {
      padding: 14px 44px;
    }
  }
}
