@import "@/style/colors";
@import "@/style/container";
@import "@/style/viewports";

.services {
  display: grid;
  gap: 22px;

  @include for-size(tablet) {
    display: flex;
    align-items: flex-end;
    gap: 60px;
  }
  @include for-size(laptop) {
    gap: 80px;
  }
  @include for-size(desktop) {
    gap: 100px;
  }

  &__image {
    object-fit: cover;

    @include for-size(tablet) {
      width: 300px;
      height: 450px;
    }
    @include for-size(laptop) {
      width: 400px;
      height: 600px;
    }
    @include for-size(desktop) {
      width: 600px;
      height: 900px;
    }
  }
}
