@import "@/style/colors";
@import "@/style/container";
@import "@/style/viewports";

.hero {
  &__image {
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
    bottom: 74px;
    z-index: -1;

    @include for-size(tablet) {
      height: 100%;
    }
    @include for-size(laptop) {
      min-height: 1060px;
      bottom: 90px;
    }
    @include for-size(desktop) {
      max-height: 1360px;
    }
  }

  &__container {
    position: absolute;
    top: 220px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (max-width: 1279.98px) {
      left: 0;
      right: 0;
    }

    @include for-size(laptop) {
      top: 400px;
      width: 1032px;
    }
  }

  &__title {
    font-weight: 400;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
