@import "@/style/viewports";

.sliders {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 80px;

  @include for-size(tablet) {
    gap: 150px;
    margin-bottom: 120px;
  }
  @include for-size(laptop) {
    gap: 200px;
    margin-bottom: 140px;
  }
  @include for-size(desktop) {
    gap: 250px;
    margin-bottom: 164px;
  }
}
